.nav {
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: #bc85f9;
  font-weight: bold;
}

.activeLink {
  color: #e6c3f8;
  text-decoration: underline;
}
