.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

p {
  margin: 0;
}

button {
  padding: 5px 10px;
  background-color: #ce9cf1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d783f0;
}
.email {
  margin-right: 10px;
  font-weight: bold;
  color: #00ccff;
  font-size: 14px;
}
